@import url('https://fonts.googleapis.com/css?family=Albert Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans';
    background-color: black;
}

header {
    color: white;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    color: #33ccff;
    text-decoration: none; 
}

.navbar a:hover,
.navbar a:active {
    background-color: #33ccff;
    color: white;
    border: 2px solid #33ccff;
    font-size: 18px;
    transition: 1s ease;
}

.center {
    color: white;
    justify-content: center;
    height: 100px;
    font-size: 20px;
    display: flex;
}

h2, h3 {
    margin: 100px auto auto auto;
    color: #33ccff;
    text-align: center;
}

#user-form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: white;
}

input[type="submit"] {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
  }

input[type="submit"]:hover {
    background: #33ccff;
    color: white;
    box-shadow: 0 0 10px 5px #33ccff;
    transition: 1s ease;
}

input[type="submit"]:not(:hover) {
    transition: 1s ease;
}

#user-info-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

main {
    color: rgb(165, 216, 236);
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items:end;
    font-size: 30px;
}

#clock:hover {
    text-shadow: 5px 5px 5px white;
    transition: .5s ease;
    transition-delay: .5s;
}

#clock:not(:hover) {
    text-shadow: none;
    transition: 1s ease;
    transition-delay: 1s;
}

footer{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}